$color-black: #000;
$color-white: #fff;
$color-gold: #bea67c;

$font-style: 'Source Sans 3', sans-serif;

$font-light: 400;
$font-normal: 600;
$font-semibold: 700;
$font-bold: 900;

h1 {
  font-weight: $font-semibold;
}

h2 {
  font-weight: $font-semibold;
}

h3 {
  margin: 0;
  font-weight: $font-semibold;
}
